.App {
  max-width: 750px;
  margin: auto;
  padding: 70px;
}

footer ul {
  padding-inline-start: 0;
}

footer ul li {
  display: inline;
}

footer a {
  text-decoration: none;
}

@media screen and (max-width: 992px) {
  .App {
    padding: 50px;
  }
}

@media screen and (max-width: 600px) {
  .App {
    padding: 30px;
  }
}
